html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Pacifico&family=Sonsie+One&family=Source+Code+Pro:ital,wght@1,600&display=swap');

html{
  background-color: #FFE66D;
}

h1{
  font-size:3.2rem;
  color:#E4B7E5;
  font-family: 'Sonsie One', cursive;
  text-align:center;
}
.fridge{
  width:250px;
  height:400px;
  margin-top:10%;
  margin-left:10%;
  background-color: whitesmoke;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius:10%;
  border-bottom-right-radius:10%;
  position:relative;

  position:relative;
  z-index:0;
}

.fridge::after{
  display:inline-block;
  content:'';
  width: 100%;
  height:50px;
  bottom:0;
  left:0;
  position:absolute;
  background-color: #ACAFB3;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;

}

.inner-fridge::before{
  content:'';
  display:inline-block;
  position:absolute;
  width:70%;
  height:10px;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:20px;
  left:40px;
  /* border-radius:40%; */
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
 
 
}


.inner-fridge::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:10px;
  height:300px;
  background: linear-gradient(to top right, rgba(254, 242, 242, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:40px;
  right:30px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
  /* border-radius:40%; */
 
 
}

.inner-fridge{



  width:250px;
  height:390px;
  position:absolute;
  top:0;
  right:0;
  z-index: 10;
  transform-origin: right;



  background: rgb(70,200,27);
  background: linear-gradient(0deg,  rgba(158,240,186,1) 100%),rgba(70,200,27,0.7009804605435925);


    /*prespectiv creates the door open effect*/

    border-radius: 20%;
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;
}
.change{
width: 300px;
height: 321px;
transition:3s all ease-in-out;
transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
border:3px solid linear-gradient(0deg, rgba(207,207,207,1) 18%, rgba(245,245,245,1) 100%);
top:28px;
}
.change::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:0px;
  height:0px;
  background: linear-gradient(to top right, rgba(254, 242, 242, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:40px;
  right:30px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
  /* border-radius:40%; */
 
 
}
.change::before{
  content:'';
  display:inline-block;
  position:absolute;
  width:0%;
  height:0px;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:20px;
  left:40px;
  /* border-radius:40%; */
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
 
 
}



.shelves{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  position:absolute;
 width:100%;
 height:100%;

}

.shelves div{
  width:100%;
  height:5px;
  background-color: white;
  border:.5px solid black;
}

.handlecon{
  width:100%;
  height:100%;
  display:flex;
  justify-content:flex-start;
  align-items: center;

}
.handle::after{
  content: "";
  display: inline-block;
  width: 60px;
  height: 10px;
  background-image: linear-gradient(to left bottom, #e9eff8, #e3e9f3, #dee4ee, #d8dee9, #d3d9e4, #cfd4df, #ccd0da, #c8cbd5, #c5c6ce, #c1c2c7, #bdbdc0, #b9b9b9);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 5px 5px 15px 3px #333333;
  position: absolute;
  top:5.1px;
  left:5px;
  transition:.3s linear;


}



.handle{

Width: 20px;
height: 20px;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
position: relative;
margin-left: 15%;
background-image: linear-gradient(to left bottom, #f1f7ff, #e3e9f3, #dee4ee, #d8dee9, #d3d9e4, #cfd4df, #ccd0da, #c8cbd5, #c5c6ce, #c1c2c7, #bdbdc0, #b9b9b9);
z-index:0;
/* top: -2.8px;
left:-.5px; */

 



}

.fridge:hover .handle::after{

transform-origin: left;
  transform: rotateY(50deg);
 

}

form{
  height:430px;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  position:relative;
  z-index:10;
  align-items: center;
}
 form input{
  width:80%;
  border-radius:100px;
  
 }

 form button{
   background-color: #A22C29;
   width:200px;
   padding:5px 15px;
   border:none;
   border-radius: 100px;
   color:white;
   font-size:1.2rem;

 }


/* .handlecon::before{
  display:inline-block;
  content:"";
  width:70%;
  height:10px;
  border-radius:20px;
  background-color:white;
  position:absolute;
  top:-20px;
} */