html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Pacifico&family=Sonsie+One&family=Source+Code+Pro:ital,wght@1,600&display=swap');

html{
  font-size:125%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #FFE66D;
}


h1{
  font-size:3.2rem;
  color:#E4B7E5;
  font-family: 'Sonsie One', cursive;
  text-align:center;
  margin-bottom:5px;
}

header{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-bottom:1%;
  background-color: #FFE66D;
}

section{
  background-color: #FFE66D;
}

header p{
  font-size:1.4rem;
  margin-top:0;
  color:black;
  font-style:italic;
  text-align: center;
  margin-bottom:0;
}

.arrow{
  font-style:normal
}

.fridge-section{
  display:flex;
  justify-content:center;
  align-items: center;
  position:relative;
} 

.fridge{
  width:250px;
  height:400px;
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius:10%;
  border-bottom-right-radius:10%;
  position:relative;
  z-index:0;  
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border:5px solid green;
  border-bottom:5px #ACAFB3 solid;
}

.fridge::after{
  display:inline-block;
  content:'';
  width: 104%;
height: 50px;
bottom: 0;
left: -5px;
  position:absolute;
  background-color:#ACAFB3;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  border-top:3px solid black;
}

.inner-fridgeT{
  width:250px;
  height:390px;
  position:absolute;
  top:0;
  right:-5px;
  z-index: 10;
  transform-origin: right;
  background: rgb(70,200,27);
  background: linear-gradient(0deg,  rgba(158,240,186,1) 100%),rgba(70,200,27,0.7009804605435925);


    /*prespectiv creates the door open effect*/

    border-radius: 40px;
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;

transition: 3s ease-in-out;
 animation:open linear .3s;
 transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
 animation-fill-mode:forwards;
}

.inner-fridge::before{
  content:'';
  display:inline-block;
  position:absolute;
  width:80%;
  height:10px;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:12px;
  left:17px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
}

.inner-fridgeT::before{
  content:'';
  display:inline-block;
  position:absolute;
  width:80%;
  height:10px;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:12px;
  left:17px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
}

.inner-fridgeT::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:10px;
  height:250px;
  background: linear-gradient(to top right, rgba(254, 242, 242, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:25px;
  left:9px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;

}

.inner-fridge::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:10px;
  height:250px;
  background: linear-gradient(to top right, rgba(254, 242, 242, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:25px;
  left:9px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
}



.inner-fridge{

  width:250px;
  height:390px;
  position:absolute;
  top:0;
  right:-5px;
  z-index: 10;
  transform-origin: right;
  background: rgb(70,200,27);
  background: linear-gradient(0deg,  rgba(158,240,186,1) 100%),rgba(70,200,27,0.7009804605435925);


    /*prespectiv creates the door open effect*/

    border-radius: 40px;
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;

  transition: 3s all ease-in-out;
}
/* .inner-fridgeT::after{
  width: 300px;
  height: 357px;
  transition: 3s all ease-in-out;
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
  border: 3px solid linear-gradient(0deg, rgba(207,207,207,1) 18%, rgba(245,245,245,1) 100%);
  top: 17px;
  background-color: white;
  border: 18px solid rgb(70, 200, 27);
} */

@keyframes open{
  0%{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(20deg);
  }
  50%{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(70deg);
  }
  
  100%{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
    /* width: 300px;
  height: 357px;

  border: 3px solid linear-gradient(0deg, rgba(207,207,207,1) 18%, rgba(245,245,245,1) 100%);
  top: 17px;
  background-color: white;
  border: 18px solid rgb(70, 200, 27);
  z-index:100; */

  
  }
}

.change::after{
  content:'';
  display:inline-block;
  position:absolute;
  width:0px;
  height:0px;
  background: linear-gradient(to top right, rgba(254, 242, 242, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:40px;
  right:30px;
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
  /* border-radius:40%; */
 
 
}
.change::before{
  content:'';
  display:inline-block;
  position:absolute;
  width:0%;
  height:0px;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9) calc(50% + 1em),transparent);
  top:20px;
  left:40px;
  /* border-radius:40%; */
  border-top-left-radius:40%;
  border-bottom-right-radius:40%;
 
}



.shelves{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  position:absolute;
 width:100%;
 height:100%;

}

.shelf{
  width:98%;
  height:50px;
  background-color: white;
  border:3px solid black;
  transform:
  perspective(900px)
  rotateX(80deg);
  position:relative;
  left:2px;
  top: -39px;
}

.shelfY::after{
  display: inline-block;
  content: '';
  width: 75%;
  height: 50px;
  background-color: white;
  border: 3px solid black;
  transform: perspective(900px) rotateX(50deg);
  left: 29px;
  position: absolute;
  top: 239px;
} 



.shelfX{
  border:none;
  background-color: whitesmoke;
}

.handlecon{
  width:100%;
  height:100%;
  display:flex;
  justify-content:flex-start;
  align-items: center;


}
.handle::after{
  content: "";
  display: inline-block;
  width: 60px;
  height: 10px;
  background-image: linear-gradient(to left bottom, #e9eff8, #e3e9f3, #dee4ee, #d8dee9, #d3d9e4, #cfd4df, #ccd0da, #c8cbd5, #c5c6ce, #c1c2c7, #bdbdc0, #b9b9b9);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 5px 5px 15px 3px #333333;
  position: absolute;
  top:5.1px;
  left:5px;
  transition:.3s linear;


}



.handle{

Width: 20px;
height: 20px;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
position: relative;
margin-left: 15%;
background-image: linear-gradient(to left bottom, #f1f7ff, #e3e9f3, #dee4ee, #d8dee9, #d3d9e4, #cfd4df, #ccd0da, #c8cbd5, #c5c6ce, #c1c2c7, #bdbdc0, #b9b9b9);
z-index:0;
/* top: -2.8px;
left:-.5px; */

}

.fridge:hover .handle::after{

transform-origin: left;
  transform: rotateY(50deg);
 

}


form{
  height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 10;
  align-items: center;
}
 form input{
  width:80%;
  border-radius:100px;
  
 }

 form button{
   background-color: #A22C29;
   width:200px;
   padding:5px 15px;
   border:none;
   border-radius: 100px;
   color:white;
   font-size:1.2rem;

 }




.bread{
  background-color: rgb(226, 142, 81);
  width: 90px;
  height: 28px;
  border-radius: 70%;
  position: absolute;
  bottom: 120px;
  left: 6px;
  display:flex;
  justify-content: space-evenly;

}

.ear{
background-color: #ede188;
width: 7px;
height: 22px;
transform: rotate(45deg);
border-radius:30px;
position:relative;
top:2px;
}

.olive-oil{
  background: hsla(0, 80%, 64%, 1);

background: linear-gradient(0deg, hsla(0, 80%, 64%, 1) 0%, hsla(0, 83%, 53%, 1) 100%);


  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 120px;
  left: 108px;
}

.eggplant{
  background: rgb(183,26,240);
background: linear-gradient(0deg, rgba(183,26,240,1) 0%, rgba(220,174,240,1) 100%);
  width: 23px;
  height: 46px;
  border-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  position: absolute;
  bottom: 61px;
  right: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transform: rotate(20deg);
}

.eggplant::before{
  width: 10px;
  height: 13px;
  position: absolute;
  content: '';
  display: inline-block;
  background-color: green;
  bottom: 40px;
  right: 7px;
  border-radius:38% 100% 79% 100% / 94% 96% 84% 23%;
}

.mushroom{
  background: hsla(35, 75%, 64%, 1);
  background: linear-gradient(0deg, hsla(35, 75%, 64%, 1) 0%, hsla(35, 85%, 29%, 1) 100%);
  width: 39px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  bottom: 75px;
  right: 11px;
  border-radius: 48% 52% 0% 0% / 97% 90% 10% 10%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mushroom::before{
  width: 8px;
  height: 13px;
  position: absolute;
  content: '';
  display: inline-block;
  background-color: ivory;
  bottom: -13px;
  right: 15px;
  border: 1px black solid;
  border-top:none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.olive-oil::before{
  content: '';
  display: inline-block;
  width: 9px;
  height: 18px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(-40deg);
  position: absolute;
  left: 2px;
  top: -6px;
}

.olive-oil:after{
  content: '';
display: inline-block;
width: 3px;
height: 18px;
background-color: #a03c2c;
border-radius: 10px;
position: absolute;
left: 13px;
top: -10px;
}

footer{
  background-color:#1E2D2F;
  color:whitesmoke;
  font-size:1.2rem;
  margin:0;
  height:10vh;
  position:absolute;
  bottom:0;
  width:100vw;
}

footer p {
 margin-top:0;
  padding:10px 0;
  text-align: center;
 
}

.radio-flex{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;

}

.radio-flex input{
  width:7%;
}

.do-not{
  position:relative;
}

.do-not::before{
  content: "";
  display: inline-block;
  width: 3px;
  height: 22px;
  transform: rotate(-45deg);
  background-color: rgb(187, 24, 24);
  position: absolute;
  left: 28px;
  top: 0px;
}

.do-not::after{
  content: "";
  display: inline-block;
  width: 3px;
  height: 22px;
  transform: rotate(45deg);
  background-color: rgb(187, 24, 24);
  position: absolute;
  left: 28px;
  top: 0px;

}

.fridge-wth-recipe{
  width:250px;
  height:390px;
  position:absolute;
  top: 300px;
  right: 591px;
  z-index: 10;
  transform-origin: right;
  background: rgb(70,200,27);
  background: linear-gradient(0deg,  rgba(158,240,186,1) 100%),rgba(70,200,27,0.7009804605435925);


    /*prespectiv creates the door open effect*/

    border-radius: 40px;
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;

}

.plate{
  width: 250px;
  height: 400px;
  background-color: white;
  border:2px solid black;
  display:flex;
  flex-direction:column;
  position:absolute;
  border-radius:3px;
  border-radius: 27px;
  z-index: 10;

}

.recipe-info{
  display:flex;
  align-items:center;
  justify-content: space-evenly
}

.recipe-img{
  width:100%;
  
}

img{
  max-width:100%;
  object-fit:contain;
  max-height:225px;
  border-radius:20px;

}

.time, .servings{
  display: flex;
  align-items:center;
 

}

.time h3{
  margin-right:3px;
}

.plate h2{
  text-align:center;
  font-size:1rem;
  margin-bottom:0;
}

.plate h3{
  font-size:.9rem;
}

.plate p{
  font-size:.8rem;
}

.recipe-direction{
  display:flex;
  justify-content:center;
  position:absolute;
  bottom:0;
  margin-left: 43%;
}

.plate button{
  border:none;
  background-color: transparent;
  
}

section{
  height:500px;
}